.navbar{
    padding: 20px 80px;
}

.logo{
    text-decoration: none;
    color: #ff7b7b;
    font-family: "Inknut Antiqua", serif;
    font-size: 25px;
    text-shadow: 0 0 3px #ff7b7b;
}

.navbar-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.contentLink{
    display: flex;
    justify-content: end;
    width: 50%;
}

.contentLink a{
    text-decoration: none;
    color: white;
    margin: 0 25px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-shadow: 0 0 3px rgb(255, 255, 255);
}
