/* background */

.box-detail{
    margin: 0 auto;
    width: 80%;
}

.box-detail_content{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.box-detail_content-texts span{
    color: rgb(183, 183, 183);
}
.date-detail{
    color: rgb(28, 141, 255);
}

.country-text{
    color: #747475;
}

.img-article{
    border-radius: 20px;
}

/* btns */

.btnBack{
    font-size: 50px;
    color: white;

    transition: all 500ms;
}

.btnBack:hover{
    color: rgb(57, 120, 255);
}


.detail-content_btns{
    margin: 10px 0px;
}

.btn-edit{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    margin: 10px;

    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    cursor: pointer;


    transition: all 500ms;

}

.btn-edit:hover{
    background-color: rgb(57, 120, 255);
    color: white;
}

.btn-delete{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    margin: 10px;

    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    cursor: pointer;

    transition: all 500ms;

}

.btn-delete:hover{
    color: white;
    background-color: rgb(255, 47, 47);
}